/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.wrapper {
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
}
.borders::before,
.borders::after {
  content: '';
  height: 100%;
  position: absolute;
  border-right: var(--border-dark);
  z-index: -20;
}
.borders::before {
  width: calc(100% - 140px);
  border-left: var(--border-dark);
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  z-index: -20;
}
.borders::after {
  width: 50%;
}

.scroll-to-top {
  width: 45px;
  height: 45px;
  position: sticky;
  bottom: 25px;
  left: 100%;
  margin-top: -48px;
  margin-right: 25px;
  color: var(--white);
  background: var(--gray-3);
  z-index: 20;
}
.scroll-to-top:hover {
  cursor: pointer;
}
