#blog {
  padding: 6rem 16rem 5rem;
}
.blog-button {
  position: relative;
  margin: 12px 30px;
  padding: 8px;
}
.blog-button button {
  position: relative;
  margin-block-start: 0;
}
.blog-button button::before {
  height: 110%;
  content: '';
  border-right: 1px solid var(--black);
  position: absolute;
  bottom: -10px;
  right: -6px;
}
.blog-button button::after {
  width: 100%;
  content: '';
  border-bottom: 1px solid var(--black);
  position: absolute;
  bottom: -6px;
  right: -10px;
}
#blog section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 2rem 0;
}
.blog-title .over-title {
  margin-left: 36px;
}
.blog-title .title {
  font-size: 2rem;
  letter-spacing: -0.9px;
  margin-left: 40px;
}
.blog-title .title::after {
  left: 0;
}
#blog .card {
  height: fit-content;
  background: var(--white);
  border: 1px solid var(--gray-1);
  padding: 1rem;
  margin: 0.7rem;
}
#blog .card:hover {
  cursor: pointer;
}
#blog .img {
  width: auto;
  border: 1px solid var(--gray-0);
}
#blog .img-container {
  position: relative;
}
#blog .blog-img-title {
  padding: 6px 10px;
  background: var(--black);
  color: var(--white);
  font-size: 0.7rem;
  font-weight: 600;
}
.blog-info {
  margin: 1.5rem 0 0;
}
.blog-overtitle {
  display: flex;
  font-size: 0.8rem;
  color: var(--gray-4);
}
.blog-overtitle svg:first-of-type {
  margin: 0 -0.2rem 0 0.3rem;
  color: var(--black);
}
.blog-overtitle svg:last-of-type {
  margin: 0 0.3rem 0 -0.2rem;
  color: var(--black);
}
.blog-title {
  font-size: 1.1rem;
}
.blog-p p {
  font-size: 0.8rem;
  color: var(--gray-3);
}
