#founder {
  background: var(--black);
  color: var(--white);
}
.quote {
  max-width: 26%;
  font-size: 1.4rem;
  text-align: right;
  letter-spacing: -0.8px;
  line-height: 1.7;
}
#founder img {
  width: 120px;
  height: 120px;
  margin: 4rem 1rem 5rem 3rem;
}
.signature {
  margin-top: -16px;
}
.founder-title {
  font-size: 0.7rem;
  font-weight: 100;
}
