#services {
  padding: 5.2rem 4rem 3.3rem;
  text-align: center;
}
.title-container {
  margin-bottom: 47px;
}
.over-title {
  font-size: 0.7rem;
  color: var(--gray-4);
}
.over-title::before,
.stat::before {
  content: '[';
  padding: 0 6px;
}
.over-title::after,
.stat::after {
  content: ']';
  padding: 0 6px;
}
.title {
  position: relative;
  width: fit-content;
  font-size: 1.8rem;
  padding: 8px 0;
  letter-spacing: -0.8px;
}
.title::after {
  content: '';
  position: absolute;
  width: 24%;
  bottom: 0;
  left: 38%;
  border-bottom: 2px dotted #000;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-content: center;
  padding: 0 14rem 2rem;
}
.card {
  width: 300px;
  height: 260px;
  padding: 1.3rem 3rem;
  background: var(--gray-0);
}
.card img {
  width: 60px;
  margin: 0 auto;
}
.card:nth-child(2) img {
  width: 76px;
}
.card-title {
  font-size: 1.1rem;
  padding: 16px;
}
.card-p {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 0 auto;
}
.read-more {
  margin: 1rem 0;
  font-size: 0.7rem;
  font-weight: 600;
}

.stats-container {
  display: flex;
  padding: 4rem 12rem 2rem;
  justify-content: space-around;
}
.stats {
  margin: 0 2rem;
}
.stat {
  font-size: 2rem;
  color: var(--gray-2);
}
.stat-title {
  font-weight: 600;
}
