#team {
  padding: 3rem 0 0;
  background: var(--gray-0);
}
.team-images {
  display: flex;
}
.team-image {
  position: relative;
  width: calc(100% / 5);
}
.team-img-container {
  height: 400px;
  display: flex;
  align-items: center;
}
.team-overlay {
  background: var(--black-opaque-0);
  transition: 0.2s ease-in;
  color: var(--white);
}
.team-name-container {
  justify-content: flex-end;
}
.team-name {
  font-size: 1.5rem;
}
.team-name-container svg {
  margin: 0.5rem auto;
}
.team-title-container {
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.team-title {
  margin-bottom: 1rem;
}
.team-title::before {
  content: '[';
  margin-right: 0.5rem;
}
.team-title::after {
  content: ']';
  margin-left: 0.5rem;
}
.team-name,
.team-plus,
.team-title {
  color: transparent;
  transition: 0.2s ease-in;
}
.team-image:hover {
  cursor: pointer;
}
.team-image:hover .team-overlay {
  background: var(--black-opaque-5);
  transition: 0.2s ease-in;
}
.team-image:hover .team-name,
.team-image:hover .team-plus,
.team-image:hover .team-title {
  color: var(--white);
  transition: 0.2s ease-in;
}
.team-carousel-control {
  display: flex;
  margin: 4rem 0;
}
.tcc {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 0.6rem;
}
.tcc:hover {
  border: 1px solid var(--black);
  cursor: pointer;
}
